/*
!.github/
!.vscode/
!.gitignore
!.gitattributes
!EnhancedClassIconPortraits.toc
!config.lua
!core.lua
!Textures/
!Screenshots/
!README.md
!CHANGELOG.md
!LICENSE.txt
!CONTRIBUTORS.md
!.pkgmeta
!publish.ps1
